################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FarOut.sln
/Debug
/sfml-window-2.dll
/sfml-system-2.dll
/sfml-graphics-2.dll
/sfml-window-d-2.dll
/sfml-system-d-2.dll
/sfml-graphics-d-2.dll
/FarOut.vcxproj.user
/FarOut.vcxproj.filters
/FarOut.vcxproj


################################################################################
# bitwerk section: linux commandline gcc Makefile and Target 
################################################################################

# Makefile
FarOut
SystemTest
launch.json


################################################################################
# af section: *.o files and executable 
################################################################################

*.o
farout
/sfml-graphics-d-2.dll
/sfml-system-d-2.dll
/sfml-window-d-2.dll
/image.png
